[workspace]
members = ["browser", "html_generator", "shared", "serverless_functions"]

[profile.release]
# Tell `rustc` to optimize for small code size.
opt-level = "s"
lto = true

# Always build the image crate with optimizations enabled, even in debug mode.
[profile.dev.package.image]
opt-level = 3

# For cargo-commander.
[commands]
dev = "./scripts dev"
build = "./scripts build"
preview = "./scripts preview"
deploy = "./scripts deploy"
profile_bundle_size = "./scripts profile_bundle_size"
setup = "chmod +x ./scripts && ./scripts setup"
